.article__head {
  padding: 164px 0 48px;
}
@media (max-width: 1023.98px) {
  .article__head {
    padding: 100px 0 24px;
  }
}
.article__back {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.25;
  color: #91B83F;
  margin-bottom: 40px;
}
@media (max-width: 1023.98px) {
  .article__back {
    margin-bottom: 24px;
  }
}
.article__title {
  font-size: 68px;
  line-height: 1.25;
  color: #8798A5;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
@media (max-width: 1199.98px) {
  .article__title {
    font-size: 56px;
  }
}
@media (max-width: 1023.98px) {
  .article__title {
    font-size: 48px;
  }
}
@media (max-width: 767.98px) {
  .article__title {
    font-size: 28px;
  }
}
.article__subtitle {
  max-width: 600px;
  font-size: 44px;
  line-height: 1.25;
  color: #8798A5;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
@media (max-width: 1023.98px) {
  .article__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .article__subtitle {
    font-size: 28px;
  }
}
.article__doctor {
  margin-top: 20px;
}
.article__date {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4;
  color: #4E4D4D;
}
@media (max-width: 1023.98px) {
  .article__date {
    padding: 0;
    font-size: 14px;
  }
}
.article__content {
  padding: 40px 0 100px;
  color: #4E4D4D;
}
@media (max-width: 1023.98px) {
  .article__content {
    padding: 24px 0 50px;
  }
}
.article__content .container {
  max-width: 840px;
}
.article__content picture {
  display: block;
  width: 100%;
}
.article__content img {
  display: block;
  width: 100%;
  border-radius: 24px;
}
@media (max-width: 1023.98px) {
  .article__content img {
    border-radius: 16px;
  }
}
.article__content h2,
.article__content h3 {
  color: #8798A5;
  font-weight: 700;
}
.article__content p,
.article__content ul {
  font-size: 18px;
  line-height: 1.3;
}
@media (max-width: 1023.98px) {
  .article__content p,
  .article__content ul {
    font-size: 16px;
  }
}
.article__content ul {
  padding-left: 16px;
  list-style: disc;
}

.article-video {
  position: relative;
  height: 444px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 24px 120px;
  z-index: 1;
  cursor: pointer;
}
.article-video__img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
.article-video__img::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}
.article-video__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-video__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.article-video__title {
  max-width: 500px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
}
.article-video__play-btn {
  width: 64px;
  height: 64px;
  padding: 20px 0 0 20px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: transform 0.3s ease;
}/*# sourceMappingURL=article.css.map */