.diagnostics {
  padding-top: 160px;
}
@media (max-width: 1024px) {
  .diagnostics {
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .diagnostics {
    padding-top: 100px;
  }
}
.diagnostics__head {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .diagnostics__head {
    margin-bottom: 24px;
    gap: 16px;
  }
}
.diagnostics__head-title {
  margin: 0;
  padding: 0;
  font-size: 68px;
  line-height: 1.2;
  color: #8798A5;
  font-weight: 700;
}
@media (max-width: 767px) {
  .diagnostics__head-title {
    font-size: 32px;
  }
}
.diagnostics__head-desc {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .diagnostics__head-desc {
    font-size: 14px;
  }
}
.diagnostics__directions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.diagnostics__directions-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
@media (max-width: 767px) {
  .diagnostics__directions-top {
    grid-template-columns: 1fr;
  }
}
.diagnostics__directions-top .diagnostics__direction {
  min-height: 316px;
}
@media (max-width: 767px) {
  .diagnostics__directions-top .diagnostics__direction {
    min-height: 240px;
  }
}
.diagnostics__directions-top .diagnostics__direction:nth-of-type(1) {
  grid-column: span 2;
}
@media (max-width: 767px) {
  .diagnostics__directions-top .diagnostics__direction:nth-of-type(1) {
    grid-column: unset;
  }
}
.diagnostics__directions-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
@media (max-width: 1024px) {
  .diagnostics__directions-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}
.diagnostics__directions-bottom .diagnostics__direction {
  min-height: 154px;
}
.diagnostics__directions-bottom .diagnostics__direction:nth-of-type(1), .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(2) {
  grid-row: 1/3;
}
@media (max-width: 1024px) {
  .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(1), .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(2) {
    grid-row: unset;
  }
}
@media (max-width: 767px) {
  .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(1), .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(2) {
    grid-column: span 2;
  }
}
.diagnostics__directions-bottom .diagnostics__direction:nth-of-type(3) {
  grid-row: 1/2;
}
@media (max-width: 1024px) {
  .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(3) {
    grid-row: unset;
  }
}
.diagnostics__directions-bottom .diagnostics__direction:nth-of-type(4) {
  grid-row: 2/3;
}
@media (max-width: 1024px) {
  .diagnostics__directions-bottom .diagnostics__direction:nth-of-type(4) {
    grid-row: unset;
  }
}

.diagnostics__direction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .diagnostics__direction {
    padding: 16px;
  }
}
@media (max-width: 767px) {
  .diagnostics__direction {
    padding: 12px;
    border-radius: 12px;
  }
}
@media (any-hover: hover) {
  .diagnostics__direction:hover .diagnostics__direction-img img {
    transform: scale(1.1);
  }
}
.diagnostics__direction-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.diagnostics__direction-img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
.diagnostics__direction-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.diagnostics__direction-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #4E4D4D;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .diagnostics__direction-title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .diagnostics__direction-title {
    font-size: 14px;
  }
}
.diagnostics__direction-categories {
  position: relative;
  z-index: 1;
  max-width: 650px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.diagnostics__direction-category {
  padding: 8px 24px;
  font-size: 16px;
  line-height: 1.4;
  background-color: #FFFFFF;
  color: #91B83F;
  text-align: center;
  border-radius: 40px;
}
@media (max-width: 1024px) {
  .diagnostics__direction-category {
    padding: 8px 16px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .diagnostics__direction-category {
    padding: 4px 12px;
    font-size: 12px;
  }
}
@media (any-hover: hover) {
  .diagnostics__direction-category:hover {
    background-color: #91B83F;
    color: #FFFFFF;
  }
}

.dir-tech__head {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .dir-tech__head {
    margin-bottom: 32px;
  }
}
.dir-tech__head-line {
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .dir-tech__head-line {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .dir-tech__head-line {
    margin-bottom: 20px;
  }
  .dir-tech__head-line img {
    display: block;
    width: 120px;
  }
}
.dir-tech__head-title {
  padding: 0;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .dir-tech__head-title {
    margin-bottom: 16px;
  }
}
.dir-tech__head-title span {
  color: #91B83F;
}
.dir-tech__head-desc {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.4;
  color: #8798A5;
}
@media (max-width: 1024px) {
  .dir-tech__head-desc {
    font-size: 16px;
  }
}

.dir-tech-slide__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 767px) {
  .dir-tech-slide__content {
    display: block;
  }
}
.dir-tech-slide__content p {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  color: #4E4D4D;
}
@media (max-width: 767px) {
  .dir-tech-slide__content p {
    font-size: 14px;
  }
  .dir-tech-slide__content p:not(:last-child) {
    margin-bottom: 16px;
  }
}

.dir-services__head {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.dir-services__head-title {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=diagnostics.css.map */